appdirs==1.4.4
certifi==2021.10.8
charset-normalizer==2.0.12
decorator==4.4.2
idna==3.3
imageio==2.16.1
imageio-ffmpeg==0.4.5
importlib-metadata==4.11.3
mido==1.2.10
moviepy==1.0.3
numpy==1.22.3
Pillow==9.0.1
proglog==0.1.9
pyee==8.2.2
pyppeteer==1.0.2
pyserial==3.5
pytube==12.0.0
requests==2.27.1
tqdm==4.63.0
urllib3==1.26.8
websockets==10.2
wget==3.2
zipp==3.7.0
